/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1b5274;
  --ifm-color-primary-dark: #184a68;
  --ifm-color-primary-darker: #174663;
  --ifm-color-primary-darkest: #133951;
  --ifm-color-primary-light: #1e5a80;
  --ifm-color-primary-lighter: #1f5e85;
  --ifm-color-primary-lightest: #236b97;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #53c8ca;
  --ifm-color-primary-dark: #3dc1c3;
  --ifm-color-primary-darker: #39b7b9;
  --ifm-color-primary-darkest: #2f9799;
  --ifm-color-primary-light: #69cfd1;
  --ifm-color-primary-lighter: #74d2d4;
  --ifm-color-primary-lightest: #94ddde;
}
